
* {
	font-family:sans-serif;
}	

	header {
		background-color: #51bb59;
	}
	h1 {
		background-color:;

	}
	nav {
		background-color:#51bb59 ;
	}

	footer {
		background-color:#51bb59; 
	}
	main {
		background-color: #D3D3D3;
	}
	li  a {
		font-size: 24px;
		text-decoration: none; 

	}

	.info {
		border-style: solid;
		border-size:;
		border-radius:10px;
		padding: 25px;
    	border-left-width: 1px;
    	border-top-width: 2px;

	}

	.skills{
		border-style: solid;
		border-radius: 10px;
		padding: 5px;
	}

	main img {
		width:auto; 
		height:200px;
	}


	.contact img {
		width: 32px;
		height: auto;
	}

button {
	padding: 15px 32px;
	margin: 15px;
    text-align: center;
    cursor: pointer;
	}



	.dropbtn {
    
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
   	margin-top:10px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
	display: flex;
	flex-direction: column;
}

.close {
	float: right;
    font-size: 28px;
    font-weight: bold
}